<h1> Jim Riley Engineering </h1>
<h3> Specializing in Water Rights </h3> 
  <p>
    Jim Riley Engineering, LC (JRE) is a water right engineering consulting firm in Utah. JRE provides specialization in change applications, updating titles on water rights, research, conflict resolution, enforcement action, diligence claims, nonuse applications, applications to appropriate, proofs of beneficial use and much more.
  </br>
  </br>
    JRE has more than 30 years of experience in water rights and has to provide clients with personal, honest, ethical, and cost effective service in a timely manner.
  </p>  
